<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue sur mon site de test Symfony3!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/app/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
